<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Crimson+Text|Raleway" media="all">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  </head>
  <body>
    <div class="wrapper container">
      {% include header.html %}
      <div class="content">
        {{ content }}
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
