<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Crimson+Text|Raleway" media="all">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/font-awesome.min.css">
  </head>
  <body>
    <div class="wrapper container">
      <div class="top-wrapper">
        {% include header.html %}
        <div class="content">
          {{ content }}
        </div>
      </div>
      {% include footer.html %}
    </div>
  </body>
</html>
