---
layout: default
---

<section class="posts">
  <ul class="post-list">
    {% for post in site.posts %}
    {% capture modulo %}{{ forloop.index | modulo: 2 }}{% endcapture %}

      {% if modulo == '1' %}
        <div class="row">
      {% endif %}
      <li class="post-item col-sm-6 col-xs-12">
        <div class="post-type">{{ post.type }}</div>
        <h2 class="post-title">
          <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        </h2>
        <div class="post-meta clearfix">
          {{ post.date | date: "%b %-d, %Y" }}
        </div>
        <div class="post-preview">
          {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
          {% if post.excerpt != post.content %}
            <a href="{{ site.baseurl }}{{ post.url }}">More.</a>
          {% endif %}
        </div>
      </li>

      {% if modulo == '0' or forloop.last %}
        </div>
      {% endif %}
    {% endfor %}
  </ul>
</section>
